coverage.out
findingway
/.vs/NewRepo.slnx/FileContentIndex/dbb741e2-c7cc-49dc-aeaa-adb8ca1b0c6e.vsidx
/.vs/NewRepo.slnx/v18
/.vs/NewRepo.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/Findingway2.slnx/FileContentIndex
/.vs
/bat.bat
/config.yaml
/findingway.db
/findingway.exe
